#addBtn {
    text-align: center;
    -webkit-border-radius: 25;
    -moz-border-radius: 25;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 7px #666666;
    -moz-box-shadow: 0px 0px 7px #666666;
    box-shadow: 0px 0px 7px #666666;
    font-family: Arial;
    color: #ffffff;
    background: #3d668e;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#addBtn:hover {
    background: #6d9cc7;
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: F0F0F0;
}

.tb5 {
    background-image: url(images/form_bg.jpg);
    background-repeat: repeat-x;
    border: 1px solid #d1c7ac;
    color: #333333;
    padding: 3px;
    margin-right: 4px;
    margin-bottom: 8px;
    font-family: tahoma, arial, sans-serif;
}

.center {
    position: relative;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 80px;
}

.efekti {
    text-shadow: 0px 0px 1px #000000;
}